/**
 *	Modul: pagecloner - backend.css
 */

#list td.toggle {
    max-width: 5%;
    padding-left: 20px !important;
}

#list td.title { max-width:40%; }

#list td.menu { max-width:40%; }

#list td.visi { max-width:10%; }

input #pagecloner_subs {
    margin-left: 20px !important;
}

